body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    background-image: url("https://t3.ftcdn.net/jpg/05/00/34/58/360_F_500345899_4OqmtspFst6SRnNQvLj7h7TfKOrBwTer.jpg");
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    border: 2px solid black;
}

h1 {
    margin-bottom: 20px;
}

.form-container input, .form-container button, #quizContainer input, #quizContainer button, #scoreContainer button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#question{
    margin-right: 10%;
}

.hidden {
    display: none;
}

#flashcards {
    margin: 20px 0;
}

.flashcard {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}
#addFlashcard:hover{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
    
}
#submitAnswer:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
#retryQuiz:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
#startQuiz:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
